<!DOCTYPE html>
<html lang="en">

<body>

<div class="container-fluid bg-1 text-center text-no-navbar">
  <img src="http://www.iskin.co.uk/wallpapers/styles/2048x2048/public/electronic_circuit.jpg" class="img-circle img-responive" 
  id="MrComputer">
  </br>
  </br>
  </br>
  </br>
    <h5>I'm a visual representation on how my makers chooses to waste her free time</h5>
</div>
<div class="container-fluid bg-2 text-center">
    <h5>I am a workplace and a notebook at the same time.</h5>
</div>
<div class="container-fluid bg-1 text-right">
    <h3><strong>Medicine is not beautiful!</strong></h3>
</div>
<footer class="container-fluid bg-1 text-center">
  <p>Bootstrap Theme Made By <a href="http://www.w3schools.com">www.w3schools.com</a></p> 
</footer>
</body>
</html>

