<div class="container text-center">
    <h1>About page</h1>
    <p1>I am a visual representation of a mind. Or some placeholder text I need to 
    add here. Actually I'm not so sure what I'm writing.</p1>
</div>