<!DOCTYPE html>

<body>
<table style="width:75%", class="table-condensed tabelka">
  <tr>
    <th>Tag</th>
    <th>Function</th> 
  </tr>
  <tr class="inbetween">
      <td colspan="2">Lists</td>
    </tr>
  <tr>
    <td>
        <p>&lt;ol&gt;</p>
        <p>&lt;li&gt; &lt;/li&gt;</p>
        <p>&lt;li&gt; &lt;/li&gt;</p>
        <p>&lt;/ol&gt; </p>
    </td>
    <td>Ordered list</td> 
  </tr>
   <tr>
    <td>
        <p>&lt;ul&gt;</p>
        <p>&lt;li&gt; &lt;/li&gt;</p>
        <p>&lt;li&gt; &lt;/li&gt;</p>
        <p>&lt;/ul&gt; </p>
    </td>
    <td>Unordered list</td> 
  </tr>
   <tr class="inbetween">
    <td colspan="2">
        Links and images
    </td>
  </tr>
  <tr>
    <td>
        &lt;a href="link"&gt; &lt;/a&gt;
    </td>
    <td>Adding a clickable link</td>
  </tr>
  <tr>
    <td>
        &lt;img src="link"&gt; &lt;/img&gt;
    </td>
    <td>Adding an image</td>
  </tr>
   <tr>
    <td>
        &lt;a href="link"&gt;&lt;img src="link"&gt&lt;/img&gt;&lt;/a&gt;
    </td>
    <td>Adding an image link</td>
  </tr>
  <tr>
    <td>
        &lt;element class="class1 class2"&gt;&lt;/element&gt;
    </td>
    <td>Adding double CSS classes to an element</td>
  </tr>
  <tr>
    <td>
        &lt;!-- comment --&gt;
    </td>
    <td>HTML comment</td>
  </tr>
   <tr class="inbetween">
    <td colspan="2">
        HTML styling
    </td>
    </tr>
    <tr>
    <td>
        &lt;p style="font-size: Xpx"&gt;&lt;/p&gt;
    </td>
    <td>Font size (in px)</td>
  </tr>
  <tr>
    <td>
        &lt;p style="color: red"&gt;&lt;/p&gt;
    </td>
    <td>Changing colors, <a href="https://www.w3.org/TR/css3-color/#svg-color">available list of color keywords</a></td>
  </tr>
  <tr>
    <td>
        &lt;p style="color: red; font-size: 40px"&gt;&lt;/p&gt;
    </td>
    <td>Adding double style atribute in HTML</td>
  </tr>
   <tr>
    <td>
        &lt;p style="font-family: Arial"&gt;&lt;/p&gt;
    </td>
    <td>Changing font style, <a href="https://www.w3.org/TR/CSS21/fonts.html#generic-font-families">available list of fonts</a></td>
  </tr>
   <tr>
    <td>
        &lt;p style="backgroud-color: red"&gt;&lt;/p&gt;
    </td>
    <td>Changing backgroud color</td>
  </tr>
  </tr>
   <tr>
    <td>
        &lt;p style="text align: left/center/right"&gt;&lt;/p&gt;
    </td>
    <td>Text align</td>
  </tr>
   <tr>
    <td>
        &lt;strong&gt;text&lt;/strong&gt;
    </td>
    <td><strong>Bold</strong></td>
  </tr>
  <tr>
    <td>
        &lt;em&gt;text&lt;/em&gt;
    </td>
    <td><em>Italics</em></td>
  </tr>
  <tr>
      <td>&lt;/br&gt;</td>
      <td>Starting the new line (like with enter) - <em>no closing tag!</em></td>
  </tr>
  <tr>
      <td>& nbsp;</td>
      <td> non breaking space for tags</td>
  </tr>
  <tr class="inbetween">
     <td colspan= "2">Tables</td> 
  </tr>
    <tr>
    <td>
        &lt;table&gt;&lt;/table&gt;
    </td>
    <td>Table tag</td>
  </tr>
    <tr>
    <td>
        &lt;tr&gt;&lt;td&gt;data&lt;/td&gt;&lt;/tr&gt;
    </td>
    <td>New row, new data</td>
  </tr>
  <tr>
    <td>
        &lt;td colspan= "#of columns"&gt;data&lt;/td&gt;
    </td>
    <td>Row mending two columns</td>
  </tr>
   <tr>
    <td>
        &lt;tr&gt;
        &lt;th&gt;&lt;/th&gt;
        &lt;/th&gt;
    </td>
    <td>Table heading: sort of like td, but for headings</td>
  </tr>
  <tr class= "inbetween">
      <td colspan= "2">Division</td>
  </tr>
  <tr>
      <td>&lt;div style="width:50px; height:50px; other features like background color or so"&gt;&lt;/div&gt;</td>
      <td>Creating a div with certain dimensions and other features</td>
  </tr>
    <tr>
      <td>&lt;a href="link"&gt;&lt;div style="width:50px; height:50px; other features like background color or so"&gt;&lt;/div&gt;&lt;/a&gt;</td>
      <td>Making the div a link</td>
  </tr>
  <tr class="inbetween">
      <td colspan= "2">Span</td>
  </tr>
  <tr>
      <td> &lt;span style="..."&gt;&lt;/span&gt;</td>
      <td>use when applying styles to a smaller part that div, i.e. one world in a paragraph</td>
  </tr>
  <tr>
      <td> &lt;xmp&gt;&lt;/xmp&gt;</td>
      <td>Putting code contet into display</td>
  </tr>
  
</table>
</body>
