<!DOCTYPE html>

<table style="width:75%", class="table-condensed tabelka">
    <tr>
        <th>Tag</th>
        <th>Function</th>
    </tr>
    <tr class="inbetween">
        <td colspan= "2">General</td>
    </tr>
    <tr>
        <td> &lt;link type="text/css" rel="stylesheet" href="stylesheet.css"/&gt;</td>
        <td>The CSS introduction in .html file (in head)</td>
    </tr>
</table>