<div class ="text-center">
<h4>How to add a subpage</h4>
</div>
<div class ="text-left">
    <ul class="list-unlisted">
                <li class ="list-unlisted-item"> In linux: touch app/pages/newpagename.html.erb</li>
                <li class ="list-unlisted-item"> Make content of the New page</li>
                <li class ="list-unlisted-item"> In app/controllers/pages_controller.rb edit file accordingly</li>
                <li class ="list-unlisted-item"> In app/config/locales/routes.rb make changes accordingly</li>
                <li class ="list-unlisted-item"> In a leading website make your site a link in an list in .navbar or otherwise</li>
                <li class ="list-unlisted-item"> Congrats, clever girl!</li>
    </ul>
    </div>