<div class ="text-center">
<h4>How to save stuff in github</h4>
</div>
<div class ="text-left">
    <ul class="list-unlisted">               
                <li class ="list-unlisted-item"> git status</li>
                <li class ="list-unlisted-item"> git add .</li>
                <li class ="list-unlisted-item"> git commit -m "title"</li>
                <li class ="list-unlisted-item"> git push origin pages_and_layouts</li>
                <li class ="list-unlisted-item"> Congrats, clever girl!</li>
    </ul>
  </div>