<!DOCTYPE html>

<table style="width:75%", class="table-condensed tabelka">
  <tr>
    <th>Tag</th>
    <th>Function</th> 
  </tr>
  <tr class="inbetween">
      <td colspan="2">Lists</td>
    </tr>
  <tr>
    <td>
        <p>&lt;ol&gt;</p>
        <p>&lt;li&gt; &lt;/li&gt;</p>
        <p>&lt;li&gt; &lt;/li&gt;</p>
        <p>&lt;/ol&gt; </p>
    </td>
    <td>Ordered list</td> 
  </tr>
   <tr>
    <td>
        <p>&lt;ul&gt;</p>
        <p>&lt;li&gt; &lt;/li&gt;</p>
        <p>&lt;li&gt; &lt;/li&gt;</p>
        <p>&lt;/ul&gt; </p>
    </td>
    <td>Unordered list</td> 
  </tr>
   <tr class="inbetween">
    <td colspan="2">
        Links and images
    </td>
  </tr>
  <tr>
    <td>
        &lt;a href="link"&gt; &lt;/a&gt;
    </td>
    <td>Adding a clickable link</td>
  </tr>
  <tr>
    <td>
        &lt;img src="link"&gt; &lt;/img&gt;
    </td>
    <td>Adding an image</td>
  </tr>
   <tr>
    <td>
        &lt;a href="link"&gt;&lt;img src="link"&gt&lt;/img&gt;&lt;/a&gt;
    </td>
    <td>Adding an image link</td>
  </tr>
  <tr>
    <td>
        &lt;element class="class1 class2"&gt;
    </td>
    <td>Adding double CSS classes to an element</td>
  </tr>
  
</table>
</body>
