/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

h1,h2,h3 {
    font-family: 'Open Sans', sans-serif;
}


.navbar, .home-callout {
    background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

// navbar styles

.navbar {
    border: none;
    margin-bottom: 20px;
    }



.home-callout {
    
    color: #d4deed;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #d4deed;
}


.navbar-default .navbar-toggle {
    
    border: 2px solid #d4deed;
    
   &:hover, &:focus {
    
    background-color: #141E30;  
    opacity: 0.75;
   } 
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a  {
        color: #d4deed;
        
        &:hover {
            color: #d4deed;
            opacity: 0.75;
        }
    }
    
.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

// tables

* {
    line-height: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: top;
    margin-top: 10px;
}

th, td {
    padding: 5px;
    text-align: left;
}

th {
    text-align: center;
    font-variant: small-caps;
}

.inbetween {
    text-align: center;
    font-variant: small-caps;
    color: #995e05;
}


.tabelka {
    margin-left: 10%;
    margin-bottom: 10%;
}

.firstrow {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    line-height: 100%;
}
 
// styles


.bg-1 { 
    background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #d4deed;
}

.bg-2 { 
    background-color: #d4deed; /* font color of bg-1 */
    color: #233752;
}

#MrComputer {
    max-width: 15%;
    height: auto;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.text-no-navbar {
    margin-top: -20px;
}